
/*!
* {
    border: 1px dashed #0000FF;
}
*/

html, body {
  	font-family: 'Open Sans', sans-serif;
  	color: #222E37;
  	background-color: #ffffff;
	margin: 0px;
	box-sizing: inherit;
}



/*! ----------------------------------- Typography ------------------------------------ */


p {
   	font-size: 18px;
  	line-height: 1.4;
	letter-spacing: 0.15px;
   	max-width: 300px;
	opacity: 0.54;
	margin: 0 auto;
	padding-bottom: 24px;
	padding-left: 16px;
	padding-right: 16px;

}

@media only screen and (min-width: 650px) {
	p {
		max-width: 600px;
		padding-left: 80px;
	}
	
	
	h1 {
		font-size: 65px;
		font-weight: 300;
		line-height: 1.4;
		letter-spacing: 0.5px;
		max-width: 600px;
	}
	
	h2 {
		font-size: 28px;
		letter-spacing: 0.34px;
		line-height: 34px;
		max-width: 600px;
	}
	
	h3 {
		font-size: 22px;
		line-height: 1.5;
		letter-spacing: 0.3px;
		opacity: 0.54;
		max-width: 600px;
	}
}


h1 {
  	font-size: 40px;
	font-weight: 300;
	line-height: 1.2;
	letter-spacing: 0.4px;
	max-width: 300px;
	margin: 0 auto;
}

h2 {
	font-size: 22px;
	line-height: 1.3;
	letter-spacing: 0.3px;
  	opacity: 0.54;
	max-width: 300px;
    	margin: 0 auto;
}

h3{
  	font-size: 18px;
	line-height: 1.5;
	letter-spacing: 0.2px;
  	opacity: 0.54;
}

h4, {
}

/*! This is my caption1 style. I've named it h5 here for convenience */
h5 {
  	font-size: 12px;
 	opacity: 0.54;
	font-weight: 600;
	line-height: 1.8;
	letter-spacing: -0.3px;
}

/*! short line break in p */
hr.hr-short {
	border-top: 1px solid #222E37;
	opacity: 0.34;
	margin-top: 10px;
    	margin-bottom: 30px;
    	max-width: 10px;
}


/*! ----------------------------------- Links ------------------------------------ */

li a {
  	text-decoration: none;
	opacity: 0.54;
	color: #222e37;
}

li a:hover {
  opacity: 1; 
}

a img:hover {
	opacity: 0.95;
}


/*! ----------------------------------- Header ------------------------------------ */

ul.header-list {
	margin-top: 8px;
    	margin-right: auto;
    	margin-bottom: 0px;
    	margin-left: auto;
	display: block;
	padding: 0;
    	text-align: center;

}

ul.header-list li {
  	display: inline-block;
  	list-style: none;
  	padding: 8px;
  	margin: 8px 17px 8px 17px;
  	text-decoration: none;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.8;
	letter-spacing: -0.3px;
	color: #222e37;
}

.header {
    	max-width: 680px;
    	margin:0 auto;
	padding: 0px;
	}

img.logo {
  	height: 56px;
  	width: 56px;
  	padding: 16px 12px 0px 0px;
	margin: 0 auto;
	display: block;
	}


.contact-list-item {
	color: #0077ff;
	}

@media only screen and (min-width: 650px) {
	.header {
		padding-top: 22px;
	}
	
	img.logo {
		padding:0px 19px 4px 19px;
		float: left;
	}
	
	ul.header-list {
		float: right;
  		padding-right: 24px;
  		margin: auto;
		
	}
}

/*! ----------------------------------- Henry Latham etc. ------------------------------------ */

ul.intro-list {
	display: inline-block;
    	text-align: center;
    	list-style: none;
	/*! This means the list isn't moved over to the right */
	padding-left: 0;
	padding-top: 70px;
}

ul.intro-list li h1 {
    	padding-top: 16px;
}

ul.intro-list li h3 {
	margin: 0px;
    	padding-top: 12px;
	padding-bottom: 100px;
}

@media only screen and (min-width: 650px) {
	ul.intro-list {	
		padding-top: 144px;
	}
	
	ul.intro-list li h1 {
    	margin: 0px;
	}
	
	ul.intro-list li h3 {
	margin: 0px;
    	padding-top: 8px;
	padding-bottom: 280px;
	}
}

/*! ----------------------------------- Post Previews ------------------------------------ */

.intro-header {
	text-align: center;
	max-width: 650px;
}


.post-preview {
	margin: 0;
	padding: 0px;
    	width: 100%;
	
}

.post-preview img {  
    	vertical-align: middle;
    	max-width: 100%;	
}

.post-text-padding {
	padding-top: 20px;
	max-width: 300px;
    	margin: auto;
}

h1.post-title {
    	display: block;
    	vertical-align: middle;
	padding-left: 20px;
	padding-top: 20px;
	text-align: left;
	margin: 0;
}

a.read-more {
	display: table-footer-group;
    	vertical-align: middle;
	opacity: 0.54;
	color: #0077ff;
	text-decoration: none;
	font-size: 15px;
    	font-weight: 600;
    	line-height: 1.3;
    	letter-spacing: -0.2px;
}

a.read-more:hover {
  opacity: 1; 
}


h3.post-subtitle {
	margin: 0;
    	padding-top: 12px;
	padding-bottom: 30px;
	padding-left: 0px;
	display: table-header-group;
}

/*! Switch preview text and Read More */
.switch-preview  { 
	display: table; 
	padding-bottom: 100px;
    	padding-left: 20px;
	padding-top: 16px;
	}



@media only screen and (min-width: 650px) {
	.post-text-padding {
		padding-top: 20px;
		max-width: 650px;
		margin: auto;
	}

	h1.post-title {
		display: inline-block;
		vertical-align: middle;
		padding-left: 32px;
		margin: 0;
	}
	
	a.read-more {
		display: inline-block;
		vertical-align: middle;
		padding-left: 16px;
		margin: 0px;
		opacity: 0.54;
		color: #0077ff;

		text-decoration: none;
		font-size: 17px;
		font-weight: 600;
		line-height: 1.3;
		letter-spacing: -0.4px;
	}
	h3.post-subtitle {
		margin: 0;
		padding-top: 16px;
		padding-left:37px;
		padding-bottom: 220px;
		display: block;
	}
	
	.switch-preview  { 
		display: block; 
		padding-bottom: 0px;
    		padding-left: 0px;
	}

}





/*! ----------------------------------- Footer ------------------------------------ */

footer {
	padding-top: 100px;
   	max-width: 680px;
    	margin: auto;
}

h5.copyright {
	display: inline-block;
    	float: left;
    	padding-left: 12px;
	padding-top: 10px;
}

ul.footer-icons {
	float: right;
    	list-style: none;
    	margin-right: 16px;
	padding-left: 0px;
}

li.dribbble {
	display: inline-block;
    	padding: 9px;
}

li.linkedin {
	display: inline-block;
    	padding: 9px;
}

li.mail {
	display: inline-block;
    	padding: 9px;
}

.mail svg {
	padding-bottom: 3;
}


@media only screen and (min-width: 650px) {
	h5.copyright {
		padding-left: 32px;
		padding-top: 15px;
	}
	ul.footer-icons {
		margin-right: 24px;
	}
}

/*! ------------------------------------------------ BACKTRACKER ----------------------------------------------------------------------- */
/*! ------------------------------------------------ BACKTRACKER ----------------------------------------------------------------------- */
/*! ------------------------------------------------ BACKTRACKER ----------------------------------------------------------------------- */
/*! ------------------------------------------------ BACKTRACKER ----------------------------------------------------------------------- */
/*! ------------------------------------------------ BACKTRACKER ----------------------------------------------------------------------- */



/*! ----------------------------------- BackTracker-Title ------------------------------------ */


.view-post-description {
	padding-top: 100px;
	max-width: 300px;
    	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

h1.view-post-title {
	margin: 0 auto;
	max-width: 300px;
}

@media only screen and (min-width: 650px) {
	h1.view-post-title {
		padding-left: 74px;
		margin: 0;
	}
	.view-post-description {
		padding-top: 150px;
		padding-left: 0px;
		padding-right: 0px;
		max-width: 680px;
		margin: 0 auto;
	}
}

h3.view-post-subtitle {
	margin: 0 auto;
    	padding-top: 16px;
	padding-bottom: 90px;
	max-width: 300px;
}


@media only screen and (min-width: 650px) {
	h3.view-post-subtitle {
		max-width: 600px;
		padding-left: 80px;
		padding-bottom: 150px;
		margin: 0px;
	}
}

/*! Image CSS same as homepage */


/*! ----------------------------------- Content - Paragraphs & Photos ------------------------------------ */

	    
h2.view-post-section-heading {
	padding-left: 16px;
	margin: 0 auto;
	padding-top: 50px;
	max-width: 288px;
	opacity: 1;
	margin-left: 0px;
	
}

@media only screen and (min-width: 320px) {
	h2.view-post-section-heading {
		padding-left: 0px;
		margin: 0 auto;
		max-width: 300px;
	}
}

.description {
    	padding-top: 30px;
    	padding-bottom: 70px;
}

@media only screen and (min-width: 650px) {
	h2.view-post-section-heading {
		margin: 0 auto;
		padding-left: 80px;
		padding-top: 70px;
		max-width: 600px;
	}
	
	.description {
		max-width: 680px;
		margin: 0 auto;
		padding-bottom: 120px;
		padding-top: 40px;
	}	
	
}



/*! ----------------------------------- Content - Videos ------------------------------------ */


.video-post-preview {
    	position: relative;
	/*! These two hide any content outside of the div's boundaries and aligns content center */
	overflow: hidden;
    	text-align: center;
	
}

.post-preview-bg {
    position: absolute;
    background-image: radial-gradient(circle at 50% 44%, #ffffff, #dbdbdb);
    height: 75%;
    width: 100%;
}

@media (min-width: 30em) {
	.video-post-preview {
		height: 1200px;
		margin-bottom: 3.33333em;
	}
	.post-preview-bg {
	    background-color: #fff;
	    background-image: url(../BackTracker/BackTracker4-desktop.jpg);
	    background-repeat: no-repeat;
	    background-size: contain;
	    background-position-x: center;
	    min-width: 1600px;
	    width: 100%;
	    height: 100%;
	    left: 50%;
	    transform: translateX(-50%);
	}
}

@media (-webkit-min-device-pixel-ratio: 2) and (min-width: 30em), (min-resolution: 192dpi) and (min-width: 30em) {
	.post-preview-bg {
    		background-image: url(../BackTracker/BackTracker4-hd.jpg);
	}
}

/*! -------------------------------------     Video section     ---------------------------------------- */

.post-preview-phone {
	width: 80%;
    	margin-left: auto;
    	margin-right: auto;
    	padding: 2em 0;
}

@media (min-width: 30em) {
	.post-preview-phone {
	    position: absolute;
	    top: calc(1200px - 895px - 5%);
	    width: 100%;
	}
}

.iphone6-display {
	position: relative;
    	background-size: contain;
    	background-repeat: no-repeat;
    	background-position: center;
	
	overflow: hidden;
    	height: 100%;
    	width: 100%;
    	border-radius: 3px;
}

@media (min-width: 30em) {
	.iphone6-display {
    		height: 895px;
		background-image: url(https://www.awkward.co/assets/images/iphone6-silver.png);
	}
}

.post-preview-embed-video {
	width: 100%;
}

@media (min-width: 30em) {
	.post-preview-embed-video {
    		position: absolute;
   	 	height: calc(100% - 220px);
   	 	top: 451px;
   	 	left: 50%;
    		transform: translate(-50%,-50%);
	}
}

video {
	overflow: hidden;
	height: 100%;
    	width: 100%;
    	border-radius: 3px;
}

/*!
OLD .iphone6-display {
	background-image: url(http://community.uxmastery.com/uploads/db4094/original/1X/b2235f688a6a5c0d83e187db8f53925346e392df.png);
	height: 600px;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	background-position-x: center;	
}

.post-preview-embed-video {
	position: absolute;
    	height: calc(100% - 220px);
    	top: 80px;
    	left: 50%;
    	transform: translate(-50%,-50%);/
    	width: 50%;
}

video {
    	padding-top: 187px;
}
	
*/
/*! ----------------------------------- Next Post Button ------------------------------------ */

hr.long-line {
	max-width: 300px;
	margin-top: 120px;
	height: 1px;
	color: #222E37;
	opacity: 0.34;
}


@media only screen and (min-width: 650px) {
	hr.long-line {
		max-width: 500px;
	}
}

h5.next-project {
	max-width: 650px;
    	margin: 0 auto;
    	margin-top: 24px;
    	display: block;
    	text-align: center;
}

a.next-post-btn {
	text-decoration: none;
	color: #0077ff;
}


h2.next-post-btn {
	max-width: 650px;
    	margin: 0 auto;
    	margin-top: 16px;
    	display: block;
    	text-align: center;
}

.next-post-btn {
	opacity: 0.54;
}

.next-post-btn:hover {
	opacity: 1;
}


