html * {
  padding: 5px;
  font-family: Roboto, Open Sans, Helvetica;
  color: #ffffff;
}

body {
  background-color: #00BBD3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 12px;
    display: inline;
}

li {
  display: inline;
  border: 2px;
  border-color: black;
}

#tagline {
  font-size: 65px;
  font-weight: Thin, Hairline;
  text-shadow: 4px 4px 4px #aaa;
}
