html, body {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  color: #222E37;
  background-color: #ffffff;
}

#header {
    height:100px;
    max-width:680px;
    margin-top:0 auto;
    background-color:white;
}

#header .img {
  float: left;
}

#header .ul {
  display: none
  display:inline-block;
  float: right;
}
